/* ============ Universal & Element Styling ================== */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

/* colour scheme  */
:root {
  --primaryColor1: #0c0e3f;
  --primaryColor2: #262de2;
  --secondaryColor1: #eb59a7;
  --secondaryColor2: #d337b9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* this sets the default font for the body-element */
  font-family: "Roboto", sans-serif;
}
footer {
  border-top: 1px solid #eb59a7;
  background-color: var(--primaryColor1);
  color: white;
  text-align: center;
  padding: 100px;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
/* ============ Header Section ================== */
.logo {
  color: var(--secondaryColor1);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: var(--primaryColor1);
  color: white;
}
ul {
  display: flex;
  list-style-type: none;
  width: 300px;
  font-size: 30px;
  justify-content: space-around;
}
nav ul li a {
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
li {
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* ============ Hero Section ================== */
.hero {
  height: 100vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor1);
  color: #fff;
}
.hero-header {
  font-size: 4rem;
}
.hero-avatar {
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.hero-text {
  margin-top: 3rem;
  letter-spacing: 1px;
}
.hero-btn {
  margin: 2rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.25rem 5rem;
  background-color: var(--secondaryColor1);
  color: #fff;
  border: none;
  border-radius: 30px;
}
.hero-btn:hover {
  background-color: var(--primaryColor2);
  cursor: pointer;
}
.accent {
  color: var(--secondaryColor1);
}
.hero p {
  font-size: 1.2rem;
  margin: 50px 0;
}
.btn {
  margin-top: 50px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.25rem 5rem;
  background-color: var(--secondaryColor1);
  color: #fff;
  border: none;
  border-radius: 30px;
}
.btn:hover {
  background-color: var(--primaryColor2);
  cursor: pointer;
}
.btn:active {
  background-color: var(--secondaryColor2);
}
.icon-container {
  margin: 1rem;
}
.socials {
  padding-bottom: 200px;
}
.social {
  margin: 1rem;
}
.social-icon {
  width: 30px;
  height: 30px;
}

/* ============ About Section ================== */
.sub-heading {
  font-size: 3rem;
}
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.sub-section-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px;
}
.section-intro {
  margin: 20px 0;
}
.about-para {
  line-height: 1.25rem;
}
.about-me-image {
  width: 200px;
  border-radius: 50%;
}
.image-container {
  justify-content: center;
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
/* ============ Skills Section ================== */
.accent-section {
  background-color: var(--primaryColor1);
  color: white;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-card {
  width: 150px;
  height: 150px;
  margin: 30px;
  cursor: pointer;
}
.skill-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* ============ Project Section ================== */
.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
  border-radius: 30px;
}
.project-card.large {
  width: 600px;
}
.project-card.larger {
  width: 900px;
}
.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-information {
  display: flex;
  flex-direction: column;
}
.project-information a {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: var(--secondaryColor1);
  color: #fff;
  border-radius: 30px;
}
.project-information a:hover {
  background-color: #293488;
}

.project-links {
  display: flex;
  justify-content: center;
}
.subtext {
  margin: 20px;
  font-size: 0.9rem;
  font-weight: 300;
}
.project-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.project-image-large {
  border-radius: 30px;
  width: 800px;
  height: 300px;
  object-fit: cover;
}

hr {
  margin: 0 50px;
}
.project-link {
  text-decoration: none;
  color: var(--primaryColor1);
  text-transform: uppercase;
  font-weight: 500;
}
.thankyou-page {
  background-color: var(--primaryColor1);
  color: var(sec);
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contact section */

.socials-contact {
  display: flex;
  justify-content: center;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.contact-form {
  width: 100%;
  margin-top: 50px;
}
.contact-data {
  color: #eb7db8;
  font-weight: bold;
}
.contact-form input,
.message {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  margin: 20px 0;
  text-transform: capitalize;

  background: linear-gradient(130deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  border: 1px solid white;
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.1);
}
.message {
  height: 300px;
}
.hamburger-btn {
  display: none;
  margin-right: 1rem;
}

/* responsive design */
@media (max-width: 992px) {
  /* hamburger menu created using the below tutorial as a reference: 
https://www.youtube.com/watch?v=OFKBep95lb4 */
  .hamburger-btn {
    display: block;
    position: absolute;
    right: 5vw;
    cursor: pointer;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
  }
  .hamburger-btn .menu,
  .hamburger-btn:after {
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    transition: 0.4s;
  }
  .hamburger-btn.active .menu {
    transform: rotate(90deg) translate(5px, 0px);
    transition: 0.4s;
    background-color: var(--secondaryColor1);
  }
  .hamburger-btn.active::after {
    transform: rotate(180deg) translate(0px, 3px);
    transition: 0.4s;
    background-color: var(--secondaryColor1);
  }
  #nav-list {
    display: none;
  }
  #nav-list {
    display: none;
  }
  #nav-list.visible {
    position: absolute;
    padding-top: 50px;
    top: 60px;
    width: 100%;
    flex-direction: column;
    transition: 0.5s;
    background: var(--primaryColor1);
    display: flex;
    align-items: center;
    background-color: var(--secondaryColor1);
  }
  #nav-list a {
    text-align: center;
    display: block;
    height: 60px;
  }
}
